@using ABCLearn.DataContext
@{
    ViewBag.title = "ABC Learn";
}
<!DOCTYPE html>
<html lang="en">

<head>
    @Html.Partial("_head")
</head>

<body>
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="#" class="navbar-brand p-0 d-flex align-items-center">
                <img src="~/img/Logo-icon.png" class="fa-font-awesome-logo-full img-fluid" style="height: 200px;" alt="logo-ABCLearn">
                <h1 class="text-primary m-0">Dmin</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="#" class="nav-item nav-link active">Student</a>
                    <a href="#" class="nav-item nav-link">Lecturer</a>
                    <a href="#" class="nav-item nav-link">Course</a>
                    <a href="#" class="nav-item nav-link">Calendar</a>
                    <a href="#" class="nav-item nav-link">Notification</a>

                </div>
                @if (UserLogin.Instance.Islogin)
                {
                    <a href="#" class="nav-item nav-link">@UserLogin.Instance.FirstName @UserLogin.Instance.LastName</a>
                    <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Logout</a>
                }
                else
                {
                    <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Join now</a>
                }
            </div>
        </nav>
    </div>
    <!-- tab search dictionary -->
    <div class="container-fluid bg-primary hero-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white"></h1>
                </div>
            </div>
        </div>
    </div>
</body>

</html>